[core]
	editor = sublime_text.exe -w|1
[user]
	name = dkl-justdoit
	email = vaincourtship@gmail.com
[credential]
	helper = store

[safe]
	directory = D:/dkl-justdoit.github.io
	directory = D:/dkl-justdoit.github.io/.deploy_git
